<div id="wrapper" (keyup)="$event.keyCode == 13 ? onSubmit() : null">
  <div>
    <h1 class="glitch" data-text="RAmusic">RAmusic</h1>
    <span class="sub">SERVICE</span>
  </div>

  <form [formGroup]="trackForm" (ngSubmit)="onSubmit()" class="artist-form">
    <!-- Make sure data-text equals the text you put inside the tags. -->
    <mat-form-field class="example-full-width">
      <input formControlName="trackName" matInput placeholder="Find your song!">
    </mat-form-field>
    <button
      mat-button
      type="submit"
      [disabled]="!trackForm.valid"
    >
      Search
    </button>
  </form>

  <!--  Todo independence component-->
  <ul>
    <li *ngFor="let audio of songs$ | async">
      <div class="img-wrap">
        <img [src]="audio['artworkUrl60']" alt="album_img">
        <span>{{audio['primaryGenreName']}}</span>
      </div>
      <mat-basic-audio-player
        class="player"
        [audioUrl]="audio['previewUrl']"
        [id]="audio['trackId']"
        [title]="audio['artistName'] + '-' + audio['trackName']"
        muted="muted"
        [displayTitle]="audio['artistName']"
        [displayVolumeControls]=""
      >
      </mat-basic-audio-player>
    </li>
  </ul>
</div>


